.banner-home {
    height: 223px;
    border-radius: 25px;
    background: url(/src/assets/img/accueil.webp) no-repeat;  
    background-size: cover;
    background-position: 25% 75%;
}

.banner-about {
    height: 223px;
    border-radius: 25px;
    background: url(/src/assets/img/a_propos.jpg) no-repeat;  
    background-size: cover;
    background-position: 35% 55%;
}

.banner-text {
    color: var(--white);
    text-align: center;
    line-height: 223px;
}

@media screen and (max-width: 767px) {
    .banner-home, .banner-about {
        height: 111px;
        word-wrap: break-word;
    }
    
    .banner-text {
        line-height: 30px;
        padding: 25px 10px 10px 20px;
        text-align: unset;
        width: 250px;
    }
}
