.lodging {
    background: var(--bg);
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-top: 40px;
    padding: 40px;
}

.lodging-card {
    position: relative;
    width: 100%;
    height: 340px;
}

.lodging-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.lodging-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--white);
}