.error {
    color: var(--primary);
    text-align: center;
}

.error-title {
    font-size: 288px;
    margin: 0;
}

.error-redirection {
    margin-top: 20%;
    text-decoration: underline;
}

.error-redirection > a {
    color: var(--primary);
}

@media screen and (max-width: 767px ) {
    .error-title {
        font-size: 96px;
    }

    .error>h4>a {
        font-size: 14px;
    }
}