.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.nav {
    font-size: 24px;
    align-self: center;
}

.nav>a {
    padding-left: 40px;
    color: var(--primary);
}

@media screen and (max-width: 767px) {
    .nav>a {
        font-size: 12px;
        text-transform: uppercase;
        padding-left: 15px;
    }
}