.banner-accommodation {
    height: 415px;
}

.banner-accommodation>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.header-lodging {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hearder-title h4 {
    padding-top: 10px;
}

.header-tags {
    display: flex;
}

.tag {
    padding: 5px 30px;
    margin: 20px 20px 0px 0px;
    display: block;

}

.header-profil {
    display: flex;
    justify-content: flex-end;
    height: 50%;
}

.header-profil > h4{
   display: flex;
   flex-direction: column;
   margin-right: 10px;
   align-self: center;
}

.header-profil > img {
    border-radius: 50%;
}

.header-rating {
    position: relative;
    height: 50%;
}

.rating {
    position: absolute;
    top: 20px;
    right: 0;
}

.rating > * {
    padding-left: 10px;
}

.primary {
    color: var(--primary);
}

.primary-white, .content-block {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;
}

.content {
    gap: 60px;
    height: 100%;
}

.content, .content-block {
    display: flex;
    justify-content: space-between;
}

.content-describe, .content-equipment {
    width: 50%;
}

.content-block {
    padding: 10px 15px;
}

.content-text {
    background: var(--bg);
    color: var(--primary);
    padding: 10px 15px;
    border-radius: 0 0 10px 10px;
    height: 150px;
    overflow: hidden;
}